<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    anasayfadasın
    <p>
        @ViewBag.Greeting @ViewBag.Username, nasılsın?
    </p>
</body>
</html>