@model ShopApp.webui.Models.Product


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>details</title>
</head>
<body>
    <p>ürün ad : @Model.Name</p>
    <p>ürün fiyat : @Model.Price</p>
    <p>ürün açıklama : @Model.Description</p>
</body>
</html>