<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>product</title>
</head>
<body>
    <h1>@ViewData["Cathegory"]</h1>
    <h4>@(((Product)ViewData["Product"]).Name)</h4>
    <h4>@(((Product)ViewData["Product"]).Price)</h4>
    <h4>@(((Product)ViewData["Product"]).Description)</h4>
</body>
</html> 